[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "Flex"]
	path = Flex
	url = https://github.com/alexandrevicenzi/Flex
[submodule "plugins/pelican-plotly"]
	path = plugins/pelican-plotly
	url = git://github.com/ran404/pelican-plotly.git
