Markdown==3.4.1
pelican==4.8.0
jupyter>=1.0
ipython>=4.0
beautifulsoup4
ghp-import==1.0.1
pelican-jupyter==0.10.1
jinja2==2.11.3
markupsafe==2.0.1

# For notebooks
numpy
matplotlib
pandas==1.5.0
scipy
sqlalchemy
seaborn
sklearn
pymc==4.2.0
