<style>
  article.single div.input_area {
    background: #2f1e2e;
    border-color: #4f424c;
  }

  article.single div.input_area > div.highlight,
  article.single div.input_area > div.highlight > pre {
    background: #2f1e2e;
    color: #e7e9db;
  }

  article.single div.input_area > div.highlight > pre .hll { background-color: #4f424c; }
  article.single div.input_area > div.highlight > pre .c,
  article.single div.input_area > div.highlight > pre .ch,
  article.single div.input_area > div.highlight > pre .cm,
  article.single div.input_area > div.highlight > pre .cp,
  article.single div.input_area > div.highlight > pre .cpf,
  article.single div.input_area > div.highlight > pre .c1,
  article.single div.input_area > div.highlight > pre .cs,
  article.single div.input_area > div.highlight > pre .gp,
  article.single div.input_area > div.highlight > pre .sd { color: #aaa1a4; }
  article.single div.input_area > div.highlight > pre .err,
  article.single div.input_area > div.highlight > pre .gd,
  article.single div.input_area > div.highlight > pre .no,
  article.single div.input_area > div.highlight > pre .ne,
  article.single div.input_area > div.highlight > pre .nv,
  article.single div.input_area > div.highlight > pre .vc,
  article.single div.input_area > div.highlight > pre .vg,
  article.single div.input_area > div.highlight > pre .vi,
  article.single div.input_area > div.highlight > pre .vm { color: #ef6155; }
  article.single div.input_area > div.highlight > pre .k,
  article.single div.input_area > div.highlight > pre .kc,
  article.single div.input_area > div.highlight > pre .kd,
  article.single div.input_area > div.highlight > pre .kp,
  article.single div.input_area > div.highlight > pre .kr { color: #bd8fe3; }
  article.single div.input_area > div.highlight > pre .l,
  article.single div.input_area > div.highlight > pre .m,
  article.single div.input_area > div.highlight > pre .mb,
  article.single div.input_area > div.highlight > pre .mf,
  article.single div.input_area > div.highlight > pre .mh,
  article.single div.input_area > div.highlight > pre .mi,
  article.single div.input_area > div.highlight > pre .mo,
  article.single div.input_area > div.highlight > pre .se,
  article.single div.input_area > div.highlight > pre .si,
  article.single div.input_area > div.highlight > pre .il { color: #f99b15; }
  article.single div.input_area > div.highlight > pre .o,
  article.single div.input_area > div.highlight > pre .kn,
  article.single div.input_area > div.highlight > pre .nd,
  article.single div.input_area > div.highlight > pre .nt,
  article.single div.input_area > div.highlight > pre .ow,
  article.single div.input_area > div.highlight > pre .gu { color: #5bc4bf; }
  article.single div.input_area > div.highlight > pre .kt,
  article.single div.input_area > div.highlight > pre .nc,
  article.single div.input_area > div.highlight > pre .nn { color: #fec418; }
  article.single div.input_area > div.highlight > pre .s,
  article.single div.input_area > div.highlight > pre .ld,
  article.single div.input_area > div.highlight > pre .gi,
  article.single div.input_area > div.highlight > pre .sa,
  article.single div.input_area > div.highlight > pre .sb,
  article.single div.input_area > div.highlight > pre .dl,
  article.single div.input_area > div.highlight > pre .s2,
  article.single div.input_area > div.highlight > pre .sh,
  article.single div.input_area > div.highlight > pre .sx,
  article.single div.input_area > div.highlight > pre .sr,
  article.single div.input_area > div.highlight > pre .s1,
  article.single div.input_area > div.highlight > pre .ss { color: #48b685; }
  article.single div.input_area > div.highlight > pre .na,
  article.single div.input_area > div.highlight > pre .nf,
  article.single div.input_area > div.highlight > pre .nx,
  article.single div.input_area > div.highlight > pre .fm { color: #06b6ef; }
  article.single div.input_area > div.highlight > pre .n,
  article.single div.input_area > div.highlight > pre .p,
  article.single div.input_area > div.highlight > pre .gh,
  article.single div.input_area > div.highlight > pre .nb,
  article.single div.input_area > div.highlight > pre .ni,
  article.single div.input_area > div.highlight > pre .nl,
  article.single div.input_area > div.highlight > pre .py,
  article.single div.input_area > div.highlight > pre .w,
  article.single div.input_area > div.highlight > pre .sc,
  article.single div.input_area > div.highlight > pre .bp { color: #e7e9db; }
</style>
